<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  menu="menubody">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="__CSS__/font-awesome/style.css" rel="stylesheet"/>
        <link href="__CSS__/bootstrap.css" rel="stylesheet"/>
        <link href="__CSS__/jquery.tagsinput.css" rel="stylesheet"/>
        <link href="__CSS__/skin/metro/app_setting.css" rel="stylesheet" />
        <include file="Common:base" />
        <style>
            body{font-size:14px;font-family:Arial, Helvetica, sans-serif;}
            div.row{padding:30px;}
            .tagBox-list{margin: 10px 0px;}
            div.row label{font-weight:bold;display:block;padding:0px 0px 10px;}
            </style>
    </head>
    <body class="bodys">
        <div class="main" style="left: 0%;width: 95%; ">
            <input id="group" type="text" class="tags" value='<volist name="group" id="item">{$item.name},</volist>' />
            
        </div>
        <script src="__JS__/seajs/sea.js"></script>
        <script type="text/javascript">
            seajs.config({
                base: "__JS__",
                preload: ["jquery"]
            });
            seajs.use('menu/main');
        </script>
        <script src="__JS__/jquery.js"></script>
        <script src="__JS__/artDialog/jquery-artDialog.js"></script>
        <script src="__JS__/jquery-droplist.js"></script>
        <script src="__JS__/ajaxForm.js"></script>
        <script src="__JS__/common.js"></script>
        <script src="__JS__/tagsinput/jquery.tagsinput.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function($){
                $('#group').tagsInput({ 
                    width: 'auto',
                    defaultText:'添加分组',
                    placeholderColor:'#324C7B',
                    onAddTag:function(name){
                        $.post("{:U('Vtl/group',array('types'=>$types))}",{name:name,action:'add'},function(data){
                            if (data.state === 'success') {
                                core.tips.tips(data.info,'success');
                            } else if (data.state === 'fail') {
                                core.tips.tips(data.info,'info');
                            }
                        },"json")
                    },
                    beforeRemove:function(name){
                        $.post("{:U('Vtl/group',array('types'=>$types))}",{name:name,action:'del'},function(data){
                            if (data.state === 'success') {
                                core.tips.tips(data.info,'success');
                            } else if (data.state === 'fail') {
                                core.tips.tips(data.info,'info');
                            }
                        },"json");
                    },
                });
            });
        </script>
    </body>
</html>