<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  menu="menubody">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="__CSS__/font-awesome/style.css" rel="stylesheet"/>
        <link href="__CSS__/bootstrap.css" rel="stylesheet"/>
        <link href="__CSS__/skin/metro/app_setting.css" rel="stylesheet" />
        <link href="__CSS__/menu.css" rel="stylesheet" />
        <include file="Common:base" />
        <style>
            #body input,#body input:focus { outline: none; box-shadow: none; border: 1px solid #bbb; }
          .info{font-size: 14px;border-top: 1px solid #999;padding:10px;}
           .button {cursor: pointer; margin: 5px 10px 5px 0;
                font-weight: 400;font-size: 14px;display: inline-block;text-align: center;background: #4265a4;color: #fff;margin-left: 395px;margin-top: 20px;
          }
        </style>
    </head>
    <body>
        <div id="body">
            <div class="menu_left">
                <include file="Common:vtl" />
            </div>
            <div class="main">
                <div class='h1'>
                    <i class="font-icon icon-building"></i>映射管理
                    <a href="{:U('Vtl/addhostgroup')}" class="adds">
                        <img src="__IMG__/add_file.png" alt="添加记录" title="添加记录" style="width: 30px;height: 30px;margin-bottom: 5px;" >

                    </a>
                </div>
                <table>
                    <tr class="title">
                        <td width="20%">ID</td>
                        <td width="20%">Name</td>
                        <td width="35%">Target</td>
                        <td>Action</td>
                    </tr>
                    <volist name="data" id="item">
                        <tr>
                        <td>{$i}</td>
                        <td>{$item.name}</td>
                        <td>{$item.target}</td>
                        <td>
                            <a href="{:U('Vtl/addhostgroup',array('id'=>$item['id']))}">修改</a>
                            <a href="javascript:;" class="dels" data-name="{$item['name']}" data-id="{$item['id']}">删除</a>
                        </td>
                    </tr>
                    </volist>
                </table>
            </div>
        </div>
        <script src="__JS__/jquery.js"></script>
        <script src="__JS__/artDialog/jquery-artDialog.js"></script>
        <script src="__JS__/ajaxForm.js"></script>
        <script src="__JS__/common.js"></script>
        <script type="text/javascript">
        $(document).ready(function($) {
           $(".dels").on("click",function(){
                var id = $(this).attr('data-id');
                var name = $(this).attr('data-name');


                art.dialog({
                content: "删除该主机组记录，确认操作?",
                ok: function () {
                    this.close();


                $.post("{:U('Vtl/delhostgroup')}",{id:id,name:name},function(data){
                    if(data.state == "success"){
                        core.tips.tips(data.info,'success');
                        window.location.href = data.referer;
                    }else{
                        core.tips.tips(data.info,'error');
                    }
                })
				
                    return false;
                },
                okVal:'确认',
                cancelVal: LNG.close,
                cancel: true 
                });				
				
            })            
                $(".actions").on("click",function(){
                var wwpn = $(this).attr('data-bind');
                var id = $(this).attr('data-id');
                art.dialog({
                content: "确认操作?",
                ok: function () {
                    this.close();
                    $.post("{:U('Vtl/updtarget')}",{wwpn:wwpn,id:id},function(data){
                         if(data.state == "success"){
                            core.tips.tips(data.info,'success');
                            if (data.referer) {
                                window.location.href = data.referer;
                            } else {
                                 reloadPage(window);
                            }
                        }else{
                            core.tips.tips(data.info,'error');
                        }
                    },"json")
                    return false;
                },
                okVal:'确认',
                cancelVal: LNG.close,
                cancel: true 
                });
            });
        });
        </script>
    </body>
</html>