<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="__CSS__/bootstrap.css">
</head>
<body>
<table class="table table-striped"style="font-family: 微软雅黑;margin: 0;text-align: center">
    <tr>
        <th colspan="2">{$pool_name}</th>
    </tr>
    <volist name="pool_info" id="pool">
    <tr>
        <td style="border-right: 1px solid #DDDDDD">{$key}</td>
        <td>{$pool}</td>
    </tr>
    </volist>
</table>
<script>

</script>
</body>
</html>