<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script src="__JS__/jquery.js"></script>
<!--<script src="__JS__/ajaxForm.js"></script>-->
<!--<script src="__JS__/common.js"></script>-->
<!--<script src="__JS__/jquery-droplist-vtl.js"></script>-->
<!--<script src="__JS__/ztree/js/ztree.js"></script>-->
<!--<script src="__JS__/ztree2/jquery.ztree.core.js"></script>-->
<!--<script src="__JS__/ztree2/jquery.ztree.excheck.min.js"></script>-->
<script src="__JS__/layer/layer.js"></script>

<script>
console.log(core);
</script>
</body>
</html>