<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  menu="menubody">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="__CSS__/font-awesome/style.css" rel="stylesheet"/>
        <link href="__CSS__/bootstrap.css" rel="stylesheet"/>
        <link href="__CSS__/skin/metro/app_setting.css" rel="stylesheet" />
        <link href="__CSS__/menu.css" rel="stylesheet" />
        <include file="Common:base" />
        <style>
            #body input,#body input:focus { outline: none; box-shadow: none; border: 1px solid #bbb; }
          .info{font-size: 14px;border-top: 1px solid #999;padding:10px;}
           .button {cursor: pointer; margin: 5px 10px 5px 0;
                font-weight: 400;font-size: 14px;display: inline-block;text-align: center;background: #4265a4;color: #fff;margin-left: 395px;margin-top: 20px;
          }
          #body table{margin: 10px;width: 96%;}
          .buttons{text-decoration: none;cursor: pointer;text-shadow: none;border: none;box-shadow: none;border-radius: 0;margin: 1px;font-weight: 400;padding: 1px 10px;font-size: 13px;display: inline-block;text-align: center;-webkit-transition: all 0.218s;-moz-transition: all 0.218s;-o-transition: all 0.218s;-ms-transition: all 0.218s;transition: all 0.218s;color: #fff;height: 25px;}
          .cinfo{background: #4265a4;}
         #tabbox{overflow:hidden; margin:0 auto;}
         .bodys .main .section {border-top: 0px;padding: 10px;}
         .tab_conbox{border: 1px solid #999;border-top: none;}
         .tab_con{ display:none;}

         .tabs{height: 32px;border-bottom:1px solid #999;border-left: 1px solid #999;width: 100%;}
         .tabs li{height:31px;line-height:31px;float:left;border:1px solid #999;border-left:none;margin-bottom: -1px;background: #e0e0e0;overflow: hidden;position: relative;}
         .tabs li a {display: block;padding: 0 20px;border: 1px solid #fff;outline: none;color:#000;}
         .tabs li a:hover {background: #ccc;}    
         .tabs .thistab,.tabs .thistab a:hover{background: #fff;border-bottom: 1px solid #fff;}

         .tab_con {padding:12px;font-size: 14px; line-height:175%;}
         h4{font-size: 14px;float: left;line-height: 25px;padding: 0 0 0 10px;}
         p{font-size: 18px;padding:10px;color: green;font-weight: bold;width:800px;}
         .info{background: #4265a4;}
        </style>
    </head>
    <body>
        <div class="bodys">
            <div class="menu_left">
                <include file="Common:enterprise" />
            </div>
            <div class="main">
                <form action="{:U('Enterprise/addJob')}" method="post" id="J_ajaxForm">
                    <div class='h1'><i class="font-icon icon-check-minus"></i><notempty name="data['id']">{$Think.lang.ep_job_upd}<else />{$Think.lang.ep_job_add}</notempty ></div>
                    <div id="tabbox">
                    <ul class="tabs" id="tabs">
                       <li><a href="javascript:;" tab="tab1">基本配置</a></li>
                       <li><a href="javascript:;" tab="tab2">高级配置</a></li>
                    </ul>
                    <ul class="tab_conbox">
                        <li id="tab1" class="tab_con">
                            <div class="section">
                                <div class='box'>
                                        <input value="{$data['id']}" type="hidden" name="id"/>
                                        <span style="display:block;text-align:center;">{$Think.lang.name}</span>
                                        <input type="text" id="name" name="name"  style="width: 200px;height: 30px;padding: 0;text-indent: 5px;" value="{$data['name']}" <notempty name="data.id">style="color:#a2a0a0;" disabled="disabled"</notempty> required/>
                                        <div class='line'></div>

                                        <span style="display:block;text-align:center;">{$Think.lang.ep_clients}</span>
                                         <select name="clientId" style="width: 200px;height: 30px;padding: 0;text-indent: 5px;">
                                             <volist name="client" id="p">
                                                <option value="{$p.id}" <if condition="$data['clientId'] eq $p.id ">selected</if>>{$p.name}</option>
                                            </volist>
                                        </select>
                                        <div class='line'></div>
                                        <div class="curtab0">
                                            <span style="display:block;text-align:center;">{$Think.lang.eq_fileset}</span>
                                            <input type="hidden" id="fileSetId"  class="wd250" name="fileSetId" value="{$data['fileSetId']}"/>
                                            <input type="text" id="fileSetName" style="width: 200px;height: 30px;padding: 0;text-indent: 5px;" class="wd250" name="fileSetName" value="{$data['fileSetName']}" required/>
                                            <div class='line'></div>
                                        </div>
                                        <span style="display:block;text-align:center;">{$Think.lang.eq_schedule}</span>
                                        <input type="hidden" id="scheduleId" class="wd250" name="scheduleId" value="{$data['scheduleId']}"/>
                                        <input type="text" id="scheduleName" class="wd250" style="width: 200px;height: 30px;padding: 0;text-indent: 5px;" name="scheduleName" value="{$data['scheduleName']}" readonly required/>
                                        <div class='line'></div>
                                        <span style="display:block;text-align:center;">{$Think.lang.eq_poolid}</span>
                                        <select name="poolId" style="width: 200px;height: 30px;padding: 0;text-indent: 5px;">
                                            <volist name="pool" id="p">
                                                <option value="{$p.id}" <if condition="$data['poolId'] eq $p.id ">selected</if>>{$p.name}</option>
                                            </volist>
                                        </select>
                                        <div class='line'></div>
                                        <span style="display:block;text-align:center;">{$Think.lang.app_desc}</span>
                                        <textarea id="description" name='description' style="resize:none;width: 400px;height: 70px;"  placeholder="" required>{$data['description']}</textarea>
                                        <div class='line'></div>
                                </div>
                            </div>
                    </li>
                    <li id="tab2" class="tab_con">
                        <div class="section">
                            <div class='box'>
                                <span style="display:block;text-align:center;">{$Think.lang.eq_protocol}</span>
                                 <select name="protocol" style="width: 100px;height: 30px;padding: 0;text-indent: 5px;">
                                    <option value="Native" <if condition="$data['protocol'] eq 'Native'">selected</if>>{$Think.lang.standard}{$Think.lang.agreement}</option>
                                    <notempty name="ndmp"><option value="NDMP" <if condition="$data['protocol'] eq 'NDMP'">selected</if>>NDMP{$Think.lang.agreement}</option></notempty>
                                </select>
                                <div class='line'></div>
                                <span style="display:block;text-align:center;">带宽限制</span>
                                <input type="text" id="maxBandwidth" style="width: 100px;height: 30px;padding: 0;text-indent: 5px;"  name="maxBandwidth" value="<notempty name='data.maxBandwidth'>{$data['maxBandwidth']}<else/>0</notempty>" required class="wd50" /><label>　单位:(MB/S)</label>
                                <div class='line'></div>
                                <span style="display:block;text-align:center;">失败重启</span>
                                <div class="tm20" id="resc"><input type="radio" value="yes" name="rescheduleOnError" <if condition="$data['rescheduleOnError'] eq 'yes'">checked</if>/><label>开启</label><input type="radio" value="no" name="rescheduleOnError" <if condition="$data['rescheduleOnError'] neq 'yes'">checked</if> /><label>关闭</label></div>
                                <div class='line'></div>
                                <div class="tmyes" <if condition="$data['rescheduleOnError'] neq 'yes'">style="display:none;"</if>>
                                    <span style="display:block;text-align:center;">重启次数</span>
                                    <input type="text" id="rescheduleTimes" name="rescheduleTimes" value="<notempty name='data.rescheduleTimes'>{$data['rescheduleTimes']}<else/>3</notempty>" class="wd50"required/>
                                    <div class='line'></div>
                                    <span style="display:block;text-align:center;">重启间隔</span>
                                    <input type="text" id="rescheduleInterval" name="rescheduleInterval" value="<notempty name='data.rescheduleInterval'>{$data['rescheduleInterval']}<else/>30</notempty>" class="wd50" required/><label>　单位:(/分钟)</label>
                                    <div class='line'></div>
                                </div>
                                <span style="display:block;text-align:center;">数据缓存</span>
                                <div class="tm20" id="spoold"><input type="radio" value="yes" name="spoolData" <if condition="$data['spoolData'] eq 'yes'">checked</if>/><label>开启</label><input type="radio" value="no" name="spoolData" <if condition="$data['spoolData'] neq 'yes'">checked</if> /><label>关闭</label></div>
                                <div class='line'></div>
                                <div class="spoolyes" <if condition="$data['spoolData'] neq 'yes'">style="display:none;"</if>>
                                    <span style="display:block;text-align:center;">缓存容量</span>
                                    <input type="text" id="spoolSize" name="spoolSize" value="<notempty name='data.spoolSize'>{$data['spoolSize']}<else/>20</notempty>" class="wd50"required/><label>　单位:(/GB)</label>
                                    <div class='line'></div>
                                </div>
                                <span style="display:block;text-align:center;">文件属性缓存</span>
                                <div class="tm20"><input type="radio" value="yes" name="spoolAttributes" <if condition="$data['spoolAttributes'] eq 'yes'">checked</if>/><label>开启</label><input type="radio" value="no" name="spoolAttributes" <if condition="$data['spoolAttributes'] neq 'yes'">checked</if> /><label>关闭</label></div>
                                <div class='line'></div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="javascript:void(0);" id="upd" data-url="{:U('Enterprise/addJob')}" class="save button J_ajax_submit_btn">{$Think.lang.button_save}</a>
                </form>
            </div>
        </div>
        <script src="__JS__/jquery.js"></script>
        <script src="__JS__/artDialog/jquery-artDialog.js"></script>
        <script src="__JS__/ajaxForm.js"></script>
        <script src="__JS__/common.js"></script>
        <script type="text/javascript">
            $(document).ready(function($) {
                $("#resc input").click(function(){
                    var curt=$(":radio[name='rescheduleOnError']").filter(":checked").val();
                    if(curt == 'yes'){
                        $(".tmyes").show();
                    }else{
                        $(".tmyes").hide();
                    }
                });
                $("#spoold input").click(function(){
                    var curt=$(":radio[name='spoolData']").filter(":checked").val();
                    if(curt == 'yes'){
                        $(".spoolyes").show();
                    }else{
                        $(".spoolyes").hide();
                    }
                });
                $(".tm20 input").click(function(){
                  var curtab=$(":radio[name='deviceType']").filter(":checked").val();
                  if(curtab == 1){
                      $(".curtab0,.curtab1").show();
                      $(".curtab2").hide();
                  }else{
                    $(".curtab0,.curtab1").hide().filter(".curtab"+curtab).show();
                    $(".curtab2").show();
                  }
                });
              });
            var btn = $(".J_ajax_submit_btn"),form = $("#J_ajaxForm");
            btn.on("click",function(){
                var type=$(":radio[name='deviceType']").filter(":checked").val();
                if($("#name").val() =="" || $("#scheduleId").val() == "" || $("#description").val() =="" || $("#fileSetId").val() ==""|| $("#maxBandwidth").val() ==""){
                    core.tips.tips(LNG.not_null,'info');
                }else if(!checkName($("#name").val())){
                    core.tips.tips(LNG.verify_name_cross,'info');
                }else if(isNaN($("#maxBandwidth").val())){
                    core.tips.tips("宽带限制  "  +  LNG.be_number,'info');
                }else{
                    if (!$('#rescheduleOnError').attr('checked')) {
                        if($("#rescheduleInterval").val() ==""){
                            core.tips.tips(LNG.not_null,'info');
                            return false;
                        }else{
                            if(isNaN($("#rescheduleInterval").val())){
                                core.tips.tips("重启间隔  "  +  LNG.be_number,'info');
                                return false;
                            }
                        }
                        if($("#rescheduleTimes").val() ==""){
                            core.tips.tips(LNG.not_null,'info');
                            return false;
                        }else{
                            if(isNaN($("#rescheduleTimes").val())){
                                core.tips.tips("重启次数  "  +  LNG.be_number,'info');
                                return false;
                            }
                        }
                    }
                     if (!$('#spoolData').attr('checked')) {
                         if($("#spoolSize").val() ==""){
                            core.tips.tips(LNG.not_null,'info');
                            return false;
                        }else{
                            if(isNaN($("#spoolSize").val())){
                                core.tips.tips("缓存容量  "  +  LNG.be_number,'info');
                                return false;
                            }
                        }
                     }
                    form.ajaxSubmit({
                    url: btn.data('action') ? btn.data('action') : form.attr('action'), 
                    dataType: 'json',
                    type:'post',
                    beforeSubmit: function (arr, $form, options) {
                        var text = btn.text();
                        //按钮文案、状态修改
                        btn.text(text + '中...').prop('disabled', true).addClass('disabled');
                    },
                    success: function (data, statusText, xhr, $form) {
                        var text = btn.text();
                        //按钮文案、状态修改
                        btn.removeClass('disabled').text(text.replace('中...', ''));
                        if (data.state === 'success') {
                            core.tips.tips(data.info,'success');
                             if (data.referer) {
                                    window.location.href = data.referer;
                                } else {
                                     reloadPage(window);
                                }
                        } else if (data.state === 'fail') {
                            core.tips.tips(data.info,'error');
                            btn.removeProp('disabled').removeClass('disabled');
                            }
                        }
                    });
                }
            });
            $(document).ready(function($) {
                $("#scheduleName").on('click',function(){
                    var url = "{:U('Enterprise/schedule')}";
                    if($("#scheduleId").val()){
                        url = "{:U('Enterprise/schedule','','')}/id/"+$("#scheduleId").val();
                    }
                    $.dialog.open(url, {
                        title: LNG.eq_schedule,
                        fixed: true,
                        width: 700,
                        height: 500
                    });
                });
                $("#fileSetName").on('click',function(){
                    var url = "{:U('Enterprise/fileSet')}";
                    if($("#fileSetId").val()){
                        url = "{:U('Enterprise/fileSet','','')}/id/"+$("#fileSetId").val();
                    }
                    $.dialog.open(url, {
                        title: LNG.eq_fileSet,
                        fixed: true,
                        width: 750,
                        height: 600
                    });
                });
            })
        </script>
        <script type="text/javascript">
        $(document).ready(function() {
            jQuery.jqtab = function(tabtit,tabcon) {
                $(tabcon).hide();
                $(tabtit+" li:first").addClass("thistab").show();
                $(tabcon+":first").show();

                $(tabtit+" li").click(function() {
                    $(tabtit+" li").removeClass("thistab");
                    $(this).addClass("thistab");
                    $(tabcon).hide();
                    var activeTab = $(this).find("a").attr("tab");
                    $("#"+activeTab).fadeIn();
                    return false;
                });

            };
            $.jqtab("#tabs",".tab_con");
        });
        </script>
    </body>
</html>