<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  menu="menubody">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="__CSS__/font-awesome/style.css" rel="stylesheet"/>
        <link href="__CSS__/bootstrap.css" rel="stylesheet"/>
        <link href="__CSS__/skin/metro/app_setting.css" rel="stylesheet" />
        <include file="Common:base" />
        <style>
            .wraper {position: relative;}
            .lists {width: 200px;height: 200px;overflow: auto;position: absolute;border: 1px solid #617775;display: none;float: left;margin-left: 110px;background: none repeat scroll 0 0 #FFFFFF;}
            .lists ul li{padding-left: 10px;padding-top: 2px;padding-bottom: 2px;border-top: 1px solid #999; }
            .bodys .main .section .box span{line-height: 20px;}
            .testContainer {width:600px;height:200px;border:1px solid red;}
            ul{list-style:none outside none;}
            </style>
    </head>
    <body class="bodys">
        <div class="main" style="left: 0%;width: 95%; ">
            <div class='h1'><i class="font-icon icon-smile"></i>{$Think.lang.eq_schedule}<a href="javascript:;" class="adds">{$Think.lang.eq_schedule_add}</a></div>
            <table class="tb">
                <tr class="title">
                    <td width="15%">{$Think.lang.id}</td>
                    <td width="25%">备份类型</td>
                    <td>{$Think.lang.detail}</td>
                    <td  width="15%">{$Think.lang.action}</td>
                </tr>
                <volist name="data" id="item">
                    <tr>
                    <td>{$item.tid}</td>
                    <td><switch name="item.type"><case value="Full">全备份</case><case value="Differential">差异备份</case><default />增量备份</switch></td>
                    <td>{$item.run}</td>
                    <td><a href="javascript:;" data-bind="{$item.tid}" data-id="{$item.id}" class="deldata">{$Think.lang.button_del}</a></td>
                </tr>
                </volist>
            </table>
            <form action="{:U('Enterprise/schedule')}" method="post" id="J_ajaxForm">
                <div class="section" style="display:none;">
                    <div class='box'>
                        <input type="hidden" id="id" class="wd250" name="id" value="{$Think.get.id}"/>
                        <empty name="types">
                        <span >备份类型</span>
                         <select name="styles" class="wd80"> 
                            <option value="Full">全备份</option>
                            <option value="Differential">差异备份</option>
                            <option value="Incremental">增量备份</option>
                        </select>
                        <div class='line'></div>
                        <else/>
                        <input type="hidden" id="types" class="wd250" name="types" value="{$Think.get.types}"/>
                        <input type="hidden" id="pooId" class="wd250" name="pooId" value="{$Think.get.pooId}"/>
                        </empty>
                        <span >备份周期</span>
                         <select name="year" class="wd80" id="year"> 
                            <option value="years">每年</option>
                            <option value="mouths">每月</option>
                            <option value="days">每天</option>
                            <option value="weeks">每周</option>
                            <option value="hours">每小时</option>
                        </select>
                        <div class='line'></div>
                        <div id="mouths" style="display:block;">
                            <span >月份</span>
                             <select name="mouth" class="wd80"> 
                                <option value="Jan" <if condition="$month eq 'Jan'">selected</if>>一月</option>
                                <option value="Feb" <if condition="$month eq 'Feb'">selected</if>>二月</option>
                                <option value="Mar" <if condition="$month eq 'Mar'">selected</if>>三月</option>
                                <option value="Apr" <if condition="$month eq 'Apr'">selected</if>>四月</option>
                                <option value="May" <if condition="$month eq 'May'">selected</if>>五月</option>
                                <option value="Jun" <if condition="$month eq 'Jun'">selected</if>>六月</option>
                                <option value="Jul" <if condition="$month eq 'Jul'">selected</if>>七月</option>
                                <option value="Aug" <if condition="$month eq 'Aug'">selected</if>>八月</option>
                                <option value="Sep" <if condition="$month eq 'Sep'">selected</if>>九月</option>
                                <option value="Oct" <if condition="$month eq 'Oct'">selected</if>>十月</option>
                                <option value="Nov" <if condition="$month eq 'Nov'">selected</if>>十一月</option>
                                <option value="Dec" <if condition="$month eq 'Dec'">selected</if>>十二月</option>
                            </select>
                            <div class='line'></div>
                        </div>
                        <div id="dates" style="display:block;">
                            <span >日期</span>
                            <input type="text" id="date" name="date" class="wd100" value="" required/><label>　格式为：1,2 多个用逗号(,)分割</label>
                            <div class='line'></div>
                        </div>
                        <div id="weeks" style="display:none;">
                            <span >星期</span>
                            <input id="weekList" type="hidden" name="weekList" value="{k:'Mon',v:'周一'}|{k:'Tue',v:'周二'}|{k:'Wed',v:'周三'}|{k:'Thu',v:'周四'}|{k:'Fri',v:'周五'}|{k:'Sat',v:'周六'}|{k:'Sun',v:'周日'}" />
                            <div style="height: 30px;">
                                <input id="tweeks" style="width: 150px;" type="text" name="tweeks" readonly />
                                    <input id="week" type="hidden" name="week" value="Mon,Tue,Wed,Thu,Fri" />
                            </div>
                            <div class='line'></div>
                        </div>
                        <div id="times" style="display:block;">
                            <span >时间</span>
                            <input type="text" id="time" name="time" class="wd50" value="{$data['time']}" required/><label>　时间格式为：HH:mm</label>
                            <div class='line'></div>
                        </div>
                        <a href="javascript:void(0);" id="upd" data-url="{:U('Enterprise/schedule')}" class="save button J_ajax_submit_btn">{$Think.lang.button_save}</a>
                     </div>
                </div>
            </form>
        </div>
        <script src="__JS__/seajs/sea.js"></script>
        <script type="text/javascript">
            seajs.config({
                base: "__JS__",
                preload: ["jquery"]
            });
            seajs.use('menu/main');
        </script>
        <script src="__JS__/jquery.js"></script>
        <script src="__JS__/artDialog/jquery-artDialog.js"></script>
        <script src="__JS__/jquery-droplist.js"></script>
        <script src="__JS__/ajaxForm.js"></script>
        <script src="__JS__/common.js"></script>
        <script type="text/javascript">
            $(document).ready(function($){
                $("#tweeks").MultDropList({ data: $("#weekList").val() });
                $(".adds").on('click',function(){
                    $(".section").slideDown();
                });
                $("#year").on('change',function(){
                    $("#mouths,#dates,#weeks,#times").css("display","block");
                    var styley = $(this).val();
                    if(styley=='years'){
                        $("#weeks").css("display","none");
                    }else if(styley=='mouths'){
                        $("#mouths,#weeks").css("display","none");
                    }else if(styley=='days'){
                         $("#mouths,#dates,#weeks").css("display","none");
                    }else if(styley=='weeks'){
                        $("#mouths,#dates").css("display","none");
                    }else{
                        $("#mouths,#dates,#weeks").css("display","none");
                    }
                });
                 $(".deldata").on("click",function(){
                    var tid = $(this).attr('data-bind');
                    var id = $(this).attr('data-id');
                    art.dialog({
                    content: LNG.member_remove_tips,
                    ok: function () {
                        this.close();
                        $.post("{:U('Enterprise/delSchedule')}",{id:id,tid:tid},function(data){
                            if (data.state === 'success') {
                                core.tips.tips(data.info,'success');
                               if (data.referer) {
                                    window.location.href = data.referer;
                                } else {
                                     reloadPage(window);
                                }
                            } else if (data.state === 'fail') {
                                core.tips.tips(data.info,'error');
                                btn.removeProp('disabled').removeClass('disabled');
                            }
                        },"json")
                        return false;
                    },
                    okVal:LNG.if_remove,
                    cancelVal: LNG.close,
                    cancel: true 
                });
                });
            });
            var btn = $(".J_ajax_submit_btn"),form = $("#J_ajaxForm");
            btn.on("click",function(){
                if(($("#year").val()=='mouths' || $("#year").val()=='years') && $("#date").val() == ""){
                    core.tips.tips(LNG.not_null,'info');
                }else if($("#date").val() != "" && !checkDDate($("#date").val())){
                    core.tips.tips(LNG.verify_date_cross,'info');
                }else if(!checkTime($("#time").val())){
                    core.tips.tips(LNG.verify_time_cross,'info');
                }else if($("#year").val()=='weeks' && $("#tweeks").val()==""){
                     core.tips.tips(LNG.verify_week_cross,'info');
                }else{
                    form.ajaxSubmit({
                    url: btn.data('action') ? btn.data('action') : form.attr('action'), 
                    dataType: 'json',
                    type:'post',
                    beforeSubmit: function (arr, $form, options) {
                        var text = btn.text();
                        //按钮文案、状态修改
                        btn.text(text + '中...').prop('disabled', true).addClass('disabled');
                    },
                    success: function (data, statusText, xhr, $form) {
                        var text = btn.text();
                        //按钮文案、状态修改
                        btn.removeClass('disabled').text(text.replace('中...', ''));
                        if (data.state === 'success') {
                            //core.tips.tips(data.info,'success');
                            //返回数据
                            var api = art.dialog.open.api;
                            if(api){
                                    var origin = artDialog.open.origin;
                                    var scheduleId = origin.document.getElementById('scheduleId');
                                    var scheduleName = origin.document.getElementById('scheduleName');
                                    var id = $("#id").val();
                                    if(!id){
                                        id=data.info;
                                    }
                                    scheduleId.value = id; 
                                    scheduleName.value = "点击查看或修改"; 
                                  api.button({
                                        name: '确定',
                                        callback: function () {
                                            var origin = artDialog.open.origin;
                                            var scheduleId = origin.document.getElementById('scheduleId');
                                            var scheduleName = origin.document.getElementById('scheduleName');
                                            scheduleId.value = id; 
                                            scheduleName.value = "点击查看或修改"; 
                                       },
                                            focus: true
                                    },
                                    {
                                        name: '取消'
                                    });
                            }
                            
                            if (data.referer) {
                                window.location.href = data.referer;
                            } else {
                                 reloadPage(window);
                            }
                            
                            <notempty name="types">
                            //复制pool
                            var input = origin.document.getElementById('nextPoolIds');
                            var pid = "{$pooId}";
                            $.post("{:U('Enterprise/copyPool')}",{preid:pid,postid:input.value,sid:id},function(datas){
                                core.tips.tips(datas.info,'info');
                            },"json")
                            </notempty>
                        } else if (data.state === 'fail') {
                            core.tips.tips(data.info,'error');
                            btn.removeProp('disabled').removeClass('disabled');
                            }
                        }
                    });
                }
            });
        </script>
    </body>
</html>