<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  menu="menubody">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="__CSS__/font-awesome/style.css" rel="stylesheet"/>
        <link href="__CSS__/bootstrap.css" rel="stylesheet"/>
        <link href="__CSS__/skin/metro/app_setting.css" rel="stylesheet" />
        <link href="__CSS__/menu.css" rel="stylesheet" />
        <include file="Common:base" />
        <style>
            #body input,#body input:focus { outline: none; box-shadow: none; border: 1px solid #bbb; }
        	.dir_div{height: 30px;line-height: 30px;font-size: 16px;}
			.dir_div img{width: 22px;height: 22px;margin: 0 10px;}
            .dirstorage_dir img{width: 22px;height: 22px;margin: 0 10px;}
		</style>
    </head>
    <body>
        <div id="body">
            <div class="menu_left">
                <include file="Common:enterprise" />
            </div>
            <div class="main">
                <div class='h1'>
					<i class="font-icon icon-edit"></i>
					备份仪表盘
				</div>
				<div class="dir_div">
					备份服务器: <img src="__IMG__/{$dir}.png" alt="" >
					{$dirinfo}
				</div>
                <div class="dirstorage_dir">
                    <foreach name="dirstorage_rows" item="dirstorage_row">
                        备份服务器{$dirstorage_row.name}: <img src="__IMG__/{$dirstorage_row.status}.png" alt="" >
                        </foreach>
                </div>
                <div>
                    总容量:{$capacity_info.total_capacity}GB<br/>
                    已使用容量:{$capacity_info.use_capacity}GB<br/>
                    容量使用情况{$capacity_info.use_proportion}%
                </div>
                <div>
                    客户端 总数 {$client_info.client_status_num.count}<br/>
                    客户端 运行数 {$client_info.client_status_num.open}<a href="javascript:;" class="client_open" data-name="open">查看</a><br/>
                    客户端 非运行数 {$client_info.client_status_num.close}<a href="javascript:;" class="client_close" data-name="close">查看</a><br/>
                </div>
            </div>
        </div>
        <script src="__JS__/jquery.js"></script>
        <script src="__JS__/artDialog/jquery-artDialog.js"></script>
        <script src="__JS__/ajaxForm.js"></script>
        <script src="__JS__/common.js"></script>
        <script type="text/javascript">
            $(document).ready(function($) {
                $(".client_open").on("click",function(){
                    var name = $(this).attr('data-name');
                    var url = "{:U('Chart/showClientByStatus','','')}/name/"+name;
                    $.dialog.open(url, {
                        title: LNG.info,
                        fixed: true,
                        width: 900,
                        height: 600
                    });
                });
                $(".client_close").on("click",function(){
                    var name = $(this).attr('data-name');
                    var url = "{:U('Chart/showClientByStatus','','')}/name/"+name;
                    $.dialog.open(url, {
                        title: LNG.info,
                        fixed: true,
                        width: 900,
                        height: 600
                    });
                });
            });
        </script>
    </body>
</html>