<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  menu="menubody">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="__CSS__/font-awesome/style.css" rel="stylesheet"/>
        <link href="__CSS__/bootstrap.css" rel="stylesheet"/>
        <link href="__CSS__/skin/metro/app_setting.css" rel="stylesheet" />
        <link href="__CSS__/menu.css" rel="stylesheet" />
        <include file="Common:base" />
        <style>
            #body input,#body input:focus { outline: none; box-shadow: none; border: 1px solid #bbb; padding: 5px 30px;}
          .info{font-size: 18px;padding:10px;}
           .button {cursor: pointer; margin: 5px 10px 5px 0;
                font-weight: 400;font-size: 14px;display: inline-block;text-align: center;background: #4265a4;color: #fff;margin-left: 35px;margin-top: 20px;
          }
        </style>
    </head>
    <body>
        <div id="body">
            <div class="menu_left">
                <include file="Common:configmenu" />
            </div>
            <div class="main" style="border: 0;">
                <form action="{:U('License/reg')}" method="post" id="J_ajaxForm">
                    <div class='h1'><i class="font-icon icon-unlock-alt"></i>{$Think.lang.license_add}</div>
                    <div class="info">{$Think.lang.license_code}：<br/><textarea id="License" name='License' style="resize:none;width: 400px;height: 180px;"  placeholder="" required></textarea></div>
                    <div class="clear"></div>
                    <input type="button" value="导入" class="button J_ajax_submit_btn"/>
                </form>
            </div>
        </div>
        <script src="__JS__/jquery.js"></script>
        <script src="__JS__/artDialog/jquery-artDialog.js"></script>
        <script src="__JS__/ajaxForm.js"></script>
    <script src="__JS__/common.js"></script>
        <script type="text/javascript">
            var btn = $(".J_ajax_submit_btn"),form = $("#J_ajaxForm");
            btn.on("click",function(){
                if($("#License").val() ==""){
                    art.dialog.tips('请导入许可..', 1);
                }else{
                    art.dialog({
                    content: '导入新的许可将替换老的许可，是否导入许可？',
                    ok: function () {
                        this.close();
                        
                        form.ajaxSubmit({
                        url: btn.data('action') ? btn.data('action') : form.attr('action'), //按钮上是否自定义提交地址(多按钮情况)
                        dataType: 'json',
                        beforeSubmit: function (arr, $form, options) {
                            var text = btn.text();
                            //按钮文案、状态修改
                            btn.text(text + '中...').prop('disabled', true).addClass('disabled');
                        },
                        success: function (data, statusText, xhr, $form) {
                            var text = btn.text();
                            //按钮文案、状态修改
                            btn.removeClass('disabled').text(text.replace('中...', '')).parent().find('span').remove();
                            if (data.state === 'success') {
                            core.tips.tips(data.info,'success');
                               if (data.referer) {
                                    window.location.href = data.referer;
                                } else {
                                     reloadPage(window);
                                }
                            } else if (data.state === 'fail') {
                                    core.tips.tips(data.info,'error');
                                    btn.removeProp('disabled').removeClass('disabled');
                                    }
                                }
                            });
                        
                        return false;
                    },
                    okVal:'OK',
                    cancelVal: '关闭',
                    cancel: true 
                });
                }
            });
        </script>
    </body>
</html>